@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0px;
    padding: 0px;
}
.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
}
.logo{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin:10px;
}
a {
    text-decoration: none;
    color: white;
}
.logotipo-img {
    border-radius: 60px;
    border-color: white;
    margin: 5px;
}
span{
    font-size: xx-large;
}
ul {
    Display: flex;
    list-style: none;
    align-items: center;
}
li {
    padding: 5px;
}
.shop {
    width: auto;
    padding: 20px;
}
hr {
    width: 100%;
}
.frase p{
    color: rgb(0, 0, 0);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
.apresentação h1{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 50px;
}
.apresentação{
    background-image: url(../imagens/hamburger-4103070_1280.jpg);
    height: 700px;
    width: auto; 
}
.materiais{
    background-image: url(../imagens/buildings-1838418_1280.jpg);
}
.apresentação .frase{
    margin-top: 50px;
    margin-left: 7%;
    align-items: center;
    min-height: 400px;
    max-width: 40%;
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-size: x-large;
    font-style: normal;
    text-indent: 40px;
    border-radius: 25px;
}
.materiais .frase{
    margin-top: 50px;
    margin-right: 7%;
    align-items: center;
    min-height: 400px;
    max-width: 40%;
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-size: x-large;
    font-style: normal;
    text-indent: 40px;
    border-radius: 25px;
}
.materiais h1{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-top: 50px;
}